poc/node_modules/
poc/artifacts/
poc/cache/
poc/typechain-types/
extension/node_modules/
extension/dist/
alpha/node_modules/
alpha/artifacts/
alpha/cache/
alpha/typechain-types/
alpha/deployments/
alpha/local-devnet.json
alpha/test-accounts.json
alpha-extension/node_modules/
alpha-extension/dist/
alpha/DEPLOY-TESTNET.md
alpha-2/node_modules/
alpha-2/artifacts/
alpha-2/cache/
alpha-2/typechain-types/
alpha-2/extension/node_modules/
alpha-2/extension/dist/
relay-bot/
ref/
